@{
    ViewData["Title"] = "Goals";
}

@using FinanceApp.Models.Enums
@model FinanceApp.Models.Entities.GoalsIndexViewModel

<div class="container-fluid border" style="height: 80vh">
    <section class="d-flex justify-content-between mt-4">
        <h4>Goals</h4>
        <form method="get" class="d-flex flex-row align-items-center gap-2">
            <a asp-action="Create" class="btn btn-primary">+</a>
            <input type="text" id="search-goal" name="searchTerm" class="form-control" value="@ViewData["searchTerm"]"/>
            <input type="submit" value="Search" class="btn btn-secondary"/>
        </form>
    </section>
    <div class="table-responsive" style="max-height: 65vh; overflow-y: auto;">
        <table class="table table-striped table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Target Amount</th>
                <th scope="col">Deadline</th>
                <th scope="col">Priority</th>
                <th scope="col" style="width: 150px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var goal in Model.Goals)
            {
                <tr class="align-middle">
                    <td>@goal.Name</td>
                    <td>@goal.TargetAmount</td>
                    <td>@goal.Deadline.ToString("MM/dd/yyyy")</td>
                    <td>@goal.PriorityLevel</td>
                    <td class="d-flex flex-row gap-2">
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@goal.Id">Edit</a>
                        <form method="post" asp-action="Delete" asp-route-id="@goal.Id"
                            onsubmit="return confirm('Are you sure you want to delete this goal?');">
                            <button type="submit" class="btn btn-danger">-</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div>
</div>