@{
    ViewData["Title"] = "Home";
}

@model FinanceApp.Models.Entities.TransactionIndexViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <section class="row" style="height: 25vh;">
                <article class="col-3 border">
                    <h3>Info</h3>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong># of Transactions:</strong></p>
                        <p>0</p>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>Total Expenses:</strong></p>
                        <p>0</p>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>Net Balance:</strong></p>
                        <p>0</p>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>Avg Transaction:</strong></p>
                        <p>0</p>
                    </div>
                </article>
                <article class="col-9 border d-flex flex-row text-center">
                    <canvas width="280" height="200" id="spendingPieChart"></canvas>
                    <canvas id="spendingLineChart" width="280" height="200"></canvas>
                </article>
            </section>
            <section class="row" style="height: 55vh;">
                <article class="col-12 border">
                    <form method="get" class="d-flex justify-content-between mt-3">
                        <h4>Transactions</h4>
                        <div class="d-flex flex-row align-items-center gap-2">
                            <a asp-action="CreateTransactions" class="btn btn-primary">+</a>
                            <label for="search-transaction">Search</label>
                            <input id="search-transaction" type="text" class="form-control" />
                            <input type="submit" value="Search" class="btn btn-secondary" />
                        </div>
                    </form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Amount</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model.Transactions)
                            {
                                <tr>
                                    <td>@transaction.Date</td>
                                    <td>@transaction.Name</td>
                                    <td>@transaction.Category</td>
                                    <td>@transaction.Amount</td>
                                    <td class="d-flex flex-row gap-2">
                                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@transaction.Id">Edit</a>
                                        <form method="post" asp-action="DeleteTransaction" asp-route-id="@transaction.Id"
                                            onsubmit="return confirm('Are you sure you want to delete this transaction?');">
                                            <button type="submit" class="btn btn-danger">-</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </article>
            </section>
        </div>
        <section class="col-4 border d-flex flex-column">
            <section class="row" style="height:30vh;">
                <article class="pl-3 pr-3">
                    <div class="pt-3 border-bottom d-flex flex-row justify-content-between">
                        <h5>Savings</h5>
                        <p>Php 0.00</p>
                    </div>
                    <div class="pt-3 border-bottom d-flex flex-row justify-content-between">
                        <h5>Daily Budget</h5>
                        <p>Php 0.00</p>
                    </div>
                    <div class="pt-3 border-bottom d-flex flex-row justify-content-between">
                        <h5>Monthly Budget</h5>
                        <p>Php 0.00</p>
                    </div>
                    <div class="pt-3 border-bottom d-flex flex-row justify-content-between">
                        <h5>Yearly Budget</h5>
                        <p>Php 0.00</p>
                    </div>

                </article>
            </section>
            <section class="row">
                <form class="d-flex justify-content-between">
                    <h4>Budget</h4>
                    <input type="button" class="btn btn-primary" value="+" />
                </form>
                <article>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </section>
        </section>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/TransactionPie.js"></script>
    <script src="~/js/TransactionLine.js"></script>
}